---
layout: layouts/base.njk
title: "Pagina non trovata"
description: "La pagina che cerchi non esiste o è stata spostata."
permalink: /404.html
noindex: true
eleventyExcludeFromCollections: true
---
<section class="sezione container testo-centrato">
  <h1>Pagina non trovata</h1>
  <p class="testo-centrato">
    La pagina che cerchi non esiste o è stata spostata. Nessun problema: puoi tornare indietro
    e ripartire da qui.
  </p>
  <div class="gruppo-bottoni" style="justify-content:center">
    <a class="bottone bottone--primario" href="/">Torna alla home</a>
    <a class="bottone bottone--secondario" href="/pratiche/">Scopri le pratiche</a>
  </div>
</section>
