---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for pagina in collections.all -%}
  {%- if not pagina.data.noindex %}
  <url>
    <loc>{{ pagina.url | htmlBaseUrl(site.url) }}</loc>
    {%- if pagina.date %}
    <lastmod>{{ pagina.date | dataIso }}</lastmod>
    {%- endif %}
  </url>
  {%- endif -%}
  {%- endfor %}
</urlset>
